// 
// authentication.scss
//
.bg-pattern {
    background-size: cover;
    background-position: center;
}

.bg-pattern-light {
    background-image: url("../../../images/bg_light.png");
}

.bg-pattern-dark {
    background-image: url("../../../images/dark_background.png");
}


.auth-logo {
    &.logo-light {
        display: $display-none !important;
    }

    &.logo-dark {
        display: $display-block !important;
    }
}